<h1>About Me</h1>

<hr>

<p class="justify">Talented Senior Software Engineer proficient in all phases of the software development lifecycle.
  Adopt at working with Agile and Scrum methodologies to accomplish project milestones according to
  specific time frames. Able to use C#, Javascript, Ruby, .NET, NodeJs, Ruby on Rails, ReactJS, AngularJS,
  and other programming languages, technologies, and frameworks to complete work. I have deep experience on
  AWS and Azure cloud platforms.
  Highly organized and detail-oriented professional with 8 years of progressive experience in the field.
  Seeking to apply expertise and extensive experience in software engineering to take on a challenging
  new role with a growing team.</p>

<p class="justify">I am a goal-oriented individual with a pleasant personality and a tenacity that knows no restrictions.
  I am highly ambitious, willing to create a simple, robust, defect-free and fully scalable systems and
  learn and adopt new technologies. I am an effective problem-solver with advanced programming skills and
  a hard-working mentality. I also like to share my knowledge with other developers.
  That's why I have published a book on Software Design Patterns and Architectures.
  It is the best book which explains the software development concepts in Turkey. It is also used as an
  auxiliary resource in many universities. (ISBN: 978-605-83098-6-9). I always look for how to solve a
  problem instead of making excuses. That's why my strongest point is having a good understand what
  the needs and develop the system.
</p>
